! ------------------------------------------------------------------------------
! theme colors
! ------------------------------------------------------------------------------
! special
*.foreground:  #d3d0da
*.background:  #0A181E
*.cursorColor: #c0c5ce

*.color0: #0A181E
*color0:  #0A181E
*.color1: #234C62
*color1:  #234C62
*.color2: #4B5054
*color2:  #4B5054
*.color3: #626369
*color3:  #626369
*.color4: #8B757F
*color4:  #8B757F
*.color5: #6B728C
*color5:  #6B728C
*.color6: #9D97A2
*color6:  #9D97A2
*.color7: #d3d0da
*color7:  #d3d0da
*.color8: #939198
*color8:  #939198
*.color9: #234C62
*color9:  #234C62
*.color10: #4B5054
*color10:  #4B5054
*.color11: #626369
*color11:  #626369
*.color12: #8B757F
*color12:  #8B757F
*.color13: #6B728C
*color13:  #6B728C
*.color14: #9D97A2
*color14:  #9D97A2
*.color15: #d3d0da
*color15:  #d3d0da


! ------------------------------------------------------------------------------
! URxvt
! -----------------------------------------------------------------------------
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*depth: 32
URxvt*background: [100]#0A181E
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 40
URxvt*externalBorder: 0
URxvt*letterSpace: -1
URxvt*font: xft:termsyn:size=12:antialias=true
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C:eval:selection_to_clipboard
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 69x15
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false

